# Built application files
*.apk
*.aab

# idea files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml

# Version control
vcs.xml

# Others
/build
.externalNativeBuild
.gradle/
build/

# Mac files
.DS_Store